html :where(.wp-block) {
    max-width: 95%;
}


.block-editor-block-toolbar__block-controls:nth-child(1) {
    display: none;
}

.block-editor-block-toolbar .components-toolbar-group:nth-child(0) {
    display: none;
}